@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header{
    background-color: #1d4d72;
    text-align: center;
    padding-top: 1rem;
    color: white;
}

nav{
    
    background-color: black;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    border: 1px white solid;
    
}



main{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 10px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
}


main h2{
    color: white;
    text-align: center;
    margin-top: 0;
}
main h3{
   text-align: center;
   margin-bottom: 0;
   font-size: 1.5rem;
}
.card {
    
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    border: 1px rgb(105, 105, 105) solid;
}

.card h2{
    background-color: #1d4d72;
    padding: 10px;

}

.about-me{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.about-ar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}
hr{
    width: 80%;
    margin-bottom: -5px;
}


ul{
    justify-self: center;
}

ul a{
    text-decoration: none;
}

li{
    text-align: left;
}

footer{
    text-align: center;
    background-color: #1d4d72;
    padding: 10px;
    color: white;
}

footer img{
    width: 3%;
}

#lastModified{
    color: yellow;
}

